@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #070724;
  /* background-image: url("../assets/background-stars.svg"); */
  background-size: cover;
  color: #ffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-[url('../assets/background-stars.svg')];
  }
}
